body{
  font-family: "Helvetica Neue","Helvetica","Arial","PingFang SC","Hiragino Sans GB",
   "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}
.jumbotron{
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #7986CB;
  color: floralwhite;
}
